button {
  padding: 0;
  background-color: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

.app-content {
  padding: 2rem 0;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.link {
  color: white;
  text-decoration: none;
  background-color: transparent;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
